/*/////////////////////////////////////////////////////////////////
//////////////////////// FONTS/////////////////////////////////////
///////////////////////////////////////////////////////////////////*/

@font-face {
font-family: 'ralewayM';
src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
font-family: 'ralewayXbold';
src: url('../fonts/Raleway-ExtraBold.ttf');
}

/* ////////////////////////////////////////////////*/
/* /////////////////// GENERAL / ///////////////////*/
/* ////////////////////////////////////////////////*/

h1 {
	font-family: "ralewayXbold";
	text-transform: uppercase;
	font-size: 60px;
}

h2 {
	font-family: "ralewayXbold";
	text-transform: uppercase;
	font-size: 30px;
}

/* ////////////////////////////////////////////////*/
/* /////////////////// HEADER / ///////////////////*/
/* ////////////////////////////////////////////////*/

#header {
	background-image: url("../img/header/visuel_fimu_2017_site_test.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(192, 170, 189, 0.8);
	padding:0;
	height: auto;
	
}

#header img {
	margin-top: 30px;
	margin-bottom: 30px;
}

#logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#no-padding {
	padding: 0;
}

/* ////////////////////////////////////////////////*/
/* /////////////////// MENU NAV ///////////////////*/
/* ////////////////////////////////////////////////*/

.navbar
{
	font-family: "ralewayXbold";
    background-color: #593C57;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
	margin-bottom: 0;
	border: inherit;
	border-radius: 0px;
}
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}

#largeur {
	width: inherit;
}
.navbar .navbar-collapse
{
    text-align: center;
}
.navbar li a
{
    color: #fff; !important;
}

.navbar-default .navbar-nav>li>a {
	color: #c0aabd !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: #422D40!important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle
{
    border-style: none;
}
.icon-bar
{
    background-color: #fff !important;
}

.flex-div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.flex-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* ////////////////////////////////////////////////*/
/* /////////////////// BLOC 1 /////////////////////*/
/* ////////////////////////////////////////////////*/

#bloc1 .para {
	margin-top: 40px;
	margin-bottom: 50px;
}

#bloc1 p {
	margin-bottom: 0px;
}

/* ////////////////////////////////////////////////*/
/* /////////////////// BLOC 2 /////////////////////*/
/* ////////////////////////////////////////////////*/
#bloc2 {
	background-color:rgba(192, 170, 189, 0.5);
}

#bloc2 .para {
	margin-top: 40px;
	margin-bottom: 50px;
	
}

#bloc2 p {
	margin-bottom: 0px;
}

/* ////////////////////////////////////////////////*/
/* /////////////////// BLOC 3 /////////////////////*/
/* ////////////////////////////////////////////////*/

#bloc3 .para {
	margin-top: 40px;
	margin-bottom: 50px;
}

#bloc3 p {
	margin-bottom: 0px;
}
